*/compiled
*/downloads
*/reviewed
*/unreviewed
*/logs


logfile*
*/logfile*

archive*
*/archive*

*.pyc
*/*.pyc
*/*/*.pyc

junk*
*/junk*
*/*/junk*

jj*
*/jj*
*/*/jj*

JJ*
*/JJ*
*/*/JJ*

#File auto created by Mac OS
.DS_Store
conf/*
*.sh

*/conf/*
