ai-ready/DATASETS
ai-ready/README
ai-ready/clustering.r
ai-ready/cog-20.cog.csv
ai-ready/list-enterotypes.r
ai-ready/optimal-cluster-size.r
ai-ready/outdir
ai-ready/temp/
ai-ready/tmp/

*/compiled
*/downloads
*/reviewed
*/unreviewed
*/logs


logfile*
*/logfile*

archive*
*/archive*

*.pyc
*/*.pyc
*/*/*.pyc

junk*
*/junk*
*/*/junk*

jj*
*/jj*
*/*/jj*

JJ*
*/JJ*
*/*/JJ*

#File auto created by Mac OS
.DS_Store
conf/*
*.sh

*/conf/*

dataset-maker/all_europepmc_linkouts.xml
dataset-maker/failed.1
dataset-maker/failed.2
dataset-maker/glycan.log
dataset-maker/j1
dataset-maker/j2
dataset-maker/jsondb
dataset-maker/nohup.out
dataset-maker/protein.log
dataset-maker/proteoform.log
dataset-maker/reaction_uris_with_pathway.txt
dataset-maker/reaction_uris_with_pmid.txt
dataset-maker/reactions_with_pathway.nt
dataset-maker/reactions_with_pmids.nt
dataset-maker/tmp/
object-maker/2
object-maker/GLYCAN
object-maker/ISSUES
object-maker/J
object-maker/J1
object-maker/J2
object-maker/JUNK
object-maker/JUNK.txt
object-maker/JUNK1
object-maker/JUNK2
object-maker/LOGFILE
object-maker/PROTEIN
object-maker/SITE
object-maker/TD10901054.json
object-maker/^A
object-maker/csvutil.py-backup
object-maker/index.html
object-maker/index.html.1
object-maker/j
object-maker/j1
object-maker/j11
object-maker/j2
object-maker/j22
object-maker/k1
object-maker/k2
object-maker/lofile
object-maker/misc
object-maker/nohup.out
object-maker/q1
object-maker/q2
object-maker/section_stats.py-backup
object-maker/section_stats.py-new
object-maker/tablemaker
object-maker/temp/
object-maker/timing.1.log
object-maker/tmp/
object-maker/x
release-maker/nohup.out
triple-maker/log4j2-spring-file.xml
triple-maker/nohup.out
triple-maker/owl2vowl.jar-backup
triple-maker/owl2vowl_0.3.7.zip
triple-maker/temp/
