html, body {
  margin: 0;
  position: relative;
  height:auto;
  min-height: 100% !important;
  border:0px dashed red;
}

a{
 color:#005581;
 text-decoration:none;
 //font-weight: bold;
}
a.toplink{
 color:#fff;
 text-decoration:none;
}

h3{
 font-size:18px;
 font-weight:bold;
 color:#054163;
}

div.root{
   position:relative;
   width:100%;
   height: auto;
   min-height: 100% !important;
}

div.footnote {
  position:absolute;
  background: #222;
  width: 100%;
  bottom:-200px;
  height:100px;
  background:#054163;
  color:#fff;
}

a.footer{
  font-size:12px;
  color:#fff;
}
div.pagelinkscnwrapper{
   position:relative;width:100%;height:25px;
   z-index:100;
   border:0px dashed red;
}

div.pagelinkscn{
   width:80%;
   display:block;
   float:right;
   text-align:right;
   border:0px dashed red;
}

div.labtitlewrapper{
 position:relative;
 margin-left:5%;
 width:90%;top:20px;
 border:0px dashed red;
}

div.labtitlecn{
  width:100%;height:50px;left:40px;font-size:30px;color:#0a4261;font-weight:bold;
}


div.moduleheaderwrapper{
   position:relative;width:100%;height:140px;
   z-index:100;
   border:0px dashed red;
}  

div.moduleheaderwrappernosearch{
   position:relative;
   text-align:left;
   width:100%;
   height:70px;
   z-index:100;
   border:0px dashed red;
} 

div.moduleiconcn{
 position:absolute;left:20;top:20;width:25;height:25;
 cursor:hand;
 z-index:100;
 border:0px dashed #fff;
}

div.moduletitlecn{
   position:absolute;left:20px;top:20px;width:90%;height:30px;
   font-size:20px;font-weight:bold;
   z-index:100;
   border:0px dashed #fff;
}

div.moduleversioncn{
   position:absolute;right:10px;top:20px;height:20px;
   font-size:11px;
   z-index:100;
   border:0px dashed #fff;
}


div.modulesearchboxcn{
   position:absolute;left:25px;top:50;width:90%;height:70;
   z-index:100;
   border:0px dashed red;
}

.queryvalue{
    width:99%;
    height:35px;
    margin-right:1%;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}
.searchbtn{
    height:35px;
    width:80%;
}


div.modulesectionscn{
   position:absolute;left:0;top:45;width:20%;height:400;
   display:none;
   z-index:101;
   border:0px solid #fff;
}


div.pagewrapper{
 position:relative;
 top:20px;
 margin-left:5%;
 margin-bottom:200px;

 width:90%;
 height:auto;
 display:block;
 border:0px dashed orange;
}
 
                               
div.pagecn{ 
  position:relative;
  width:100%;
  margin-top:20;
  border:0px dashed blue;
  height:auto;
  display:block;
}


td.faqquestion{
 padding:3px 0px 3px 10px;
 cursor: pointer;
 color:#005581;
}

td.faqanswer{
 padding:0px 0px 20px 30px;
 display:none;
}

div.clmn-1{
position:relative;top:0px;width:20%;margin-bottom:300px;
border-top:0px solid #3485b0;padding:0 0 0 0;
border:0px dashed red;

}
div.clmn-2{
position:relative;top:0px;width:50%;margin-left:10;margin-bottom:300px;
border-top:0px solid #3485b0;padding:0 0 0 0;
}
div.clmn-3{
position:relative;width:20%;margin-left:10;margin-bottom:300px;
border-top:5px solid #efe3d1;padding:10 0 0 0;
}


td.gmenucell{
 height:35px;background:#eef1f2;border:1px solid #ccc;padding:0 0 0 20;
 font-family: 'Open Sans Condensed', sans-serif;
}
td.gmenucellselected{
 height:35px;background:#054163;color:#fff;border:1px solid #ccc;padding:0 0 0 20;
 font-family: 'Open Sans Condensed', sans-serif;
}

a.gmenulink{
  text-decoration:none;
  color:#054163;
}
a.gmenulinkselected{
   text-decoration:none;
   color:#fff;
}

td.menucell{
 border-top:1px solid #fff;
 padding:5px 0px 5px 20px;
 cursor:hand;
}

td.menucellselected{
 background:#fff;
 border-top:1px solid #fff;
 padding:5px 0px 5px 20px;
 cursor:hand;
}



input.logintxtbox{
 width:90%;height:30px;color:#666;font-size:17px;
}

input.submitbtn{
        width:100%;height:100%;;
}



/* For Glygen grid view */
.grid_section {
        clear: both;
        padding: 0px;
        margin: 0 0 200 0;
}

.grid_col {
        display: block;
        float:left;
        margin: 1% 1% 2% 0%;
        background:#eee;
}

.grid_col:first-child { margin-left: 0; }

.grid_group:before,
.grid_group:after {
        content:"";
        display:table;
}
.grid_group:after {
        clear:both;
}
.grid_group {
    zoom:1; /* For IE 6/7 */
}

.grid_span_3_of_3 {
        width: 100%;
}
.grid_span_2_of_3 {
        width: 66.1%;
}
.grid_span_1_of_3 {
        position:relative;text-align:center;border:1px solid #ccc;
        width:300px;
        height:340px;
        background:#fff;
}






@media only screen and (max-width : 480px) {

    div.clmn-1{
        position:relative;top:0px;width:25%;display:none;
   }
   div.clmn-2{
       position:relative;top:0px;width:94%;margin-left:0%;margin-bottom:100px;
    }

    #navbarResponsive {
        margin-bottom: 50px;
    }

    .grid_col { margin: 1% 0 1% 0%;}
    .grid_span_3_of_3, .grid_span_2_of_3, .grid_span_1_of_3 { width: 100%; }        

}






